@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #202020;
  --primary: #ff0000;
  --btn-active: #1b1919;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-btn-active: var(--btn-active);
  --font-poppins: var(--font-poppins);
  --font-montsy: var(--font-montsy);
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
